@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  margin: 0;
}

.quiz {
  margin: 0 auto;
  padding: 30px;
  width: 600px;
  border-radius: 10px;
  background-color: darkkhaki;
}

.quiz-questions,
.quiz-results {
  margin-bottom: 20px;
}

.quiz-questions-item-question,
.quiz-results-item-question {
  margin-bottom: 20px;
  font-size: 20px;
}

.quiz-questions-item-answers,
.quiz-results-item-answers {
  margin: 0;
  padding: 0;
  list-style: none;
}

.quiz-indicator {
  margin-bottom: 15px;
}

.quiz-results {
  display: none;
}

.btn-restart {
  display: none;
}
