@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --bg-color: darkkhaki;
  --main-margin-bottom: 20px;
  --invalid-color: red;
  --valid-color: green;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  margin: 0;
}

.quiz {
  margin: 0 auto;/* не делала для остальный переменные, тк это либо не нужно, либо двойная работа для данного объема проекта. Но я попробовала и оценила приобретенные знания, тк в больших проектах это классно может сохранить время)*/
  padding: 30px;
  border-radius: 10px;
  background-color: var(--bg-color);
}

.quiz-questions,
.quiz-results {
  margin-bottom: var(--main-margin-bottom);
}

.quiz-questions-item-question,
.quiz-results-item-question {
  margin-bottom: var(--main-margin-bottom);
  font-size: 20px;
}

.quiz-questions-item-answers,
.quiz-results-item-answers {
  margin-bottom: var(--main-margin-bottom);
  padding: 0;
  list-style: none;
}

.quiz-indicator {
  margin-bottom: 15px;
}

.quiz-results {
  display: none;
}

.btn-restart {
  display: none;
}

.questions--hidden,
.indicator--hidden,
.btnNext--hidden {
  display: none;
}
.results--visiable,
.btnRestart--visiable {
  display: block;
}

.answer--invalid {
  color: var(--invalid-color);
}

.answer--valid {
  color: var(--valid-color);
}