@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

body {
  font-family: "Manrope", sans-serif;
  font-size: var(--main-font-size);
  margin: 0;
}

.quiz {
  margin: var(--main-margin);
  padding: 30px;
  border-radius: var(--main-border-radius);
  background-color: var(--bg-color);
}

.quiz-questions,
.quiz-results {
  margin-bottom: var(--main-margin-bottom);
}

.quiz-questions-item-question,
.quiz-results-item-question {
  margin-bottom: var(--main-margin-bottom);
  font-size: var(--title-font-size);
}

.quiz-questions-item-answers,
.quiz-results-item-answers {
  margin-bottom: var(--main-margin-bottom);
  padding: 0;
  list-style: none;
}

#some-correct-answers {
  margin-bottom: var(--main-margin-bottom);
  padding: 0;
}

.quiz-indicator {
  margin-bottom: var(--margin-bottom);
}

.quiz-results {
  display: none;
}

.btn-restart {
  display: none;
}

.btn-next {
  margin-bottom: var(--margin-bottom);
}

.questions--hidden,
.indicator--hidden,
.btnNext--hidden {
  display: none;
}
.results--visiable,
.btnRestart--visiable {
  display: block;
}

.answer--invalid {
  color: var(--invalid-color);
}

.answer--valid {
  color: var(--valid-color);
}