@media (max-width: 1980px) and (min-width: 381px) {
    .quiz{
        width: 600px;
    }
}

@media (max-width: 768px) and (min-width: 381px) {
    .quiz{
        width: 300px;
    }
}

@media (max-width: 380px) {
    .quiz{
        width: 260px;
    }
}